<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Welcome to the Site <%= user.first_name %>!

    <h2>I see you're an Admin!</h2>
    <p>Let me show you all of the current invite codes!</p>

    <button id="newCode">Create a New Code</button>


    <br>
    <a href="/logout">Logout</a>


    <script src="/middleware/codeGenerator.js"></script>


</body>

</html>