<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>
    <div class="container">
        <form class="ui form" action="/login" method="POST">
            <h4 class="ui dividing header">Login</h4>
            <div class="field">
                <label>Login</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="username" id="" placeholder="Username">
                    </div>
                    <div class="field">
                        <input type="password" name="password" id="" placeholder="Password">
                    </div>
                </div>
                <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>